* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: #EEEDFA;
}
/*-------- FONTS -------*/

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat Black";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Montserrat-Black.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat Light";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

.bold {
    font-family: "Montserrat Bold";
}
.normal{
    font-family: "Montserrat";
}
.black{
    font-family: "Montserrat Black";
}

.light{
    font-family: "Montserrat Light";
}

body {
    color: #fff;
    background-color: #535181;
    margin: 0;
    padding:0;
    font-family: "Montserrat", Montserrat;
}

.login-top{
    position: absolute;
    display:block;
    width:100%;
    top:0;
    height:64%;
    background-color: #535181;
    text-transform: uppercase;
}

.logo-container{
    position: absolute;
    display:block;
    width:100%;
    top:0;
    height:80%;
    background-color: #535181;
    text-transform: uppercase;
}

.logo {
    width: 50%;
    height: 50%;
    min-height: 75px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background:url("../img/jibe-logo.png") no-repeat center center;
    background-size: 154px 75px;
}

.slogan {
    width: 50%;
    height: 15px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 115px; left: 0; bottom: 0; right: 0;
    font-family: "Montserrat", Montserrat;
    font-size: 12px;
    text-align: center;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 100px rgba(232, 76, 61, 0);}}

.circle{
    border-radius: 50%;
    margin: 0.15em;
    font-size: 1em;
    box-shadow: 0 0 0 0 #837FB9;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.fa-facebook-container{
     position: absolute; 
     left: 50%; 
     bottom:0;
     z-index:100;
}

.fa-facebook-container i {font-size:2em;}

.fa-facebook{
    position: relative;
    top: 50px;
    left: -50%;
    background: #837FB9;
    color: #FFFFFF;
    padding: 0.9em 1.1em;
    
}

.login-bottom{
    position: absolute;
    display:table;
    width:100%;
    top:64%;
    height:36%;
    background-color: #343447;
    text-transform: uppercase;
    text-align:center;
    padding-bottom:60px;
}

.login-label{
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat", Montserrat;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}


.more-info{
    position: absolute;
    display:block;
    width:100%;
    bottom:0;
    height:60px;
    background-color: #EDECF9;
    text-transform: uppercase;
}

.more-info-label {
    text-align:center;
    line-height:60px;
    margin:0;
    padding:0;
    font-family: "Montserrat", Montserrat;
    font-size: 14px;
    color: #333347;
}


.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height:43px;
    background-color: #837FB9;
    z-index: 1;
}

.nav-logo{
    float:left;
    width: 50%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/jibe-logo.png") no-repeat 40px center;
    background-size: 45px 22px;
}

.nav-toggle{
    width: 50%;
    margin: auto;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.nav-toggle i {float:right; margin:8px 30px 0 0; font-size:1.5em;}

/* PLAY LIST */


.link-input{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.link-url{
    width: 100%;
    background-color: #837FB9;
    color: #EEEDFA;
    text-align: center;
    border-style:none;
    height: 100%;
}

.link-url:focus{
    outline:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.current-playlist-container{
    margin-top:50px;
    padding-top:20px;
    padding-left:40px;
}

.current-playlist-header{
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
}

.current-playlist-name{
    font-size: 16px;
    color: #fff;
    margin: auto;
}

.current-playlist-buttons{
    height:30px;
    margin-top:15px;
}

.clearfix:before, .current-playlist-buttons:after {
    content: " ";
    display: table; 
}

.button {
    width: 80%;
    //height: 100%;
    padding: 30px 0px;
    text-align: center;
    margin: 10px auto;
}

.dark-button{
    background-color: #343447;
    color:  #EEEDFA ;
}

.button-container{
    position: absolute;
    display:block;
    width:100%;
    bottom:0;
    height:50%;
}
.start-button{
    position: relative;
    z-index: 1;
    //height: 30%
}

.light-button{
    background-color:  #EEEDFA;
    color: #343447;
}

.nominate-button{
    text-transform: uppercase;
    float: left;
    padding-left: 40px;
    height: 30px;
    width: 65%;
    line-height: 30px;
}

.share-button{
    text-transform: uppercase;
    float: right;
    padding-right: 40px;
    padding-left: 10px;
    height: 30px;
    width: 27%;
    line-height: 30px;
}

.now-playing-header{
    margin-top: 20px;
    line-height: 12px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #343447;
    margin-bottom:10px;
}

.now-playing-header span {
    position: relative;
    display: inline-block;
    float:left;
    margin-left:30px;
    margin-top:-7px;
    background-color:#535181;
    padding:0 10px;
}

.now-playing-info{
    padding:10px 40px 20px;
}

.now-playing-song{
    font-size: 16px;
}

.now-playing-artist{
    font-size: 12px;
}

.now-playing-img {
    display: inline-block;
    vertical-align: middle;
    float: right;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    margin-right: 40px;
}

.final-vote-header {
    margin-left: 40px;
    clear: left;
    color: #BACF98;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 12px;
}

.gradient{
    margin: 10px 0px 0px 0px;
    height:31px;
    padding-top: 5px;
    padding-bottom: 13px;
    background-image:
    linear-gradient(
      to right, 
      #DA6771 , 
      #BBD099
    );
}

.downvotes {
    float: left;
    margin-left: 40px;
    font-size: 16px;
}

.upvotes {
    float: right;
    margin-right: 40px;
    color: black;
    font-size: 16px;
}

.next-up-header{
    background-color: #fff;
    color: #535181;
    height: 30px;
}

.next-up-header span {
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 12px;
    line-height: 30px;
}

.small-artwork{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:absolute;
    left:50px;
    top:15px;
}

.song-info{
    position:relative; 
    left: 110px;
    width:30%;
    display:block;
    margin:20px 0;
}

.large-artwork{
    float: left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-right:10px;
    position: relative;
}

.upvote-button{
    position: absolute;
    right: 20px;
    color: #343447;
    top:20px;
    background: #BBD099;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
}

.downvote-button{
    background: #D96670 ;
    color: #fff;
    position: absolute;
    float: right;
    right: 65px;
    top:20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
}

.expand-button{
    color: #343447;
    background-color: white;
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position:absolute;
    left:0;
    top:20px;
    }

.collapse-button{
    color: #fff;
    background-color: #535081 ;
    float: right;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    right:0;
    top:20px;
   
}

/*
.fa-facebook-container{
     position: absolute; 
     left: 50%; 
     bottom:0;
     z-index:100;
}

.fa-facebook-container i {font-size:2em;}

.fa-facebook{
    position: relative;
    top: 50px;
    left: -50%;
    background: #837FB9;
    color: #FFFFFF;
    padding: 0.9em 1.1em;
    
}
*/

.song-collapsed-container{
    position:relative;
    border-bottom: 1px solid #343447;
    display:block;
    min-height:80px;
}



.small {
    font-size: 12px;
}

.medium {
    font-size: 14px;
}

.large{
    font-size: 16px;
}

.nominated-by-header{
    margin-top: 65px;
    line-height: 12px;
    font-size: 12px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-top: 1px solid #535081;
}

.nominated-by-header span {
    position: relative;
    display: inline-block;
    float:left;
    margin-left:30px;
    padding:0 10px;
    margin-top:-7px;
    background-color: #343447;
}

.nominated-by-name{
    font-size: 16px;
    text-align: center;
    font-weight:300;
    text-transform:none;
    margin-top:5px;
}


.up-down-buttons{
    display:block;
    width: 100%;
    margin: 30px auto;
    clear:both;
}

.down-button-container{
    float:left;
    margin-left:40px;
}

.up-button-container{
    float:right;
    margin-right:40px;
}

.song-expanded-container{
    background-color: #343447;
    border-bottom: 1px solid #343447;
    padding:10px 0 30px;
    position:relative;

}

.upvote-button-expanded, .downvote-button-expanded{
    
    float: left;
    overflow: hidden;
    align-content: center;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    padding: 10px;
}

.upvote-count, .downvote-count {
    float: left;
    overflow: hidden;
    align-content: center;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    padding: 10px;
    margin-top: 12px;
    top: 0%;
    
}

.upvote-button-expanded{
    margin-left: 8px;
    margin-top: 10px;
    background: #BBD099;
    color: #343447;
    
}
.downvote-button-expanded{
    margin-top: 10px;
    margin-left: 8px;
    background: #D96670 ;
    color: #fff;
}

.whos-voting-by-header{
    margin-top: 10px;
    line-height: 12px;
    font-size: 12px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    border-top: 1px solid #535081;
}

.whos-voting-by-header span {
    position: relative;
    display: inline-block;
    float:left;
    margin-left:30px;
    padding:0 10px;
    margin-top:-7px;
    background-color: #343447;
}

.whos-voting-by-name{
    font-size: 16px;
    text-align: center;
    font-weight:300;
    text-transform:none;
    margin-top:5px;
}

.yay-nay-voters{
    width: 100%;
    margin: 10px auto;
    clear:both;
}

.yay-voters {
    float:right;
    padding-right:20px;
    padding-left:10px;
    width:50%;
}

.nay-voters {
    float: left;
    padding-right:10px;
    padding-left:20px;
    width:50%;
}

.yay-voter-circle{
    border-radius:50%;
    width: 30px;
    height: 30px;
    margin:6px 3px;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    background-color:#BBD099;
    padding:3px;
}

.nay-voter-circle{
    border-radius:50%;
    width: 30px;
    height: 30px;
    margin:6px 3px;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    background-color:#D96670;
    padding:3px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

/*iPhone 5,5s*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    .fa-facebook-container i {
        font-size: 1.5em;
    }

    .fa-facebook{
        top:37.5px;
    }
}
.input-group{
    background-color: #535181;
    width: 100%;
   height: 50px;
    position: relative;
}

#filter{
    width: 70%;
    background-color: #535181;
    color: #EEEDFA;
    margin-left: 7%;
    border-style:none;
    height: 50px;
}

#filter:focus{
    outline:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table{
    overflow: scroll;
    border-collapse:collapse;
    padding: 0;
    margin: 0;
    border: 0 none;
}

.search-header{
    background-color: #fff;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    border: none;
    border-color: transparent;
    outline: 0;
    color: #535181;
}

.search-header-title{
    font-family: "Montserrat Light";
    margin-left: 5%;
    font-size: 1.3em;
    line-height: 1.3em;
}

.search-result-row{
    background-color: #EEEDFA;
    color: #535181;
    border-bottom: 1px solid #535181;
    border-top: 1px solid #535181;
}

.search-result-artwork{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 7%;
}

.go-button{
    right: 0px;
    background-color: #343447;
    height: 50px;
    width: 20%;
    position:absolute;
    text-align: center;
    vertical-align: middle;
    color: #EEEDFA;
    line-height: 50px;
    
}

.add-button{
    float: right;
    background-color: #343447;
    height: 30px;
    line-height: 30px;
    text-align: right;
    width: 100%;
    display: table-cell;
    text-align: center ;
    vertical-align: middle;
    color: #EEEDFA;
}

.add-button-cell{
    margin: 0 auto;
}



/* MODAL */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.2;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
    opacity: 0.95;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
    color: #535181;
}

.link-input{
    display: none;
}

/* OVERLAYS */

.overlay{
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color:rgba(255,255,255,0.95);
    z-index:1000;
    color:#535181;
    font-family: "Montserrat", Montserrat;
}

.overlay .collapse-button{
    width:60px;
}

.overlay-content{
    position:absolute;
    margin:0 auto;
    font-weight:300;
}

.overlay-content p{

}

.overlay-button {
    font-size:0.75em;
    text-transform: uppercase;
    text-align:center;
    padding:20px 0;
    width: 100%;
    background-color:#535181;
    margin-top:10px;
}
#overlay-share{
    visibility: hidden;
}
#overlay-share a {font-size:0.8em;}
#overlay-share .overlay-content{width:75%;top:50%;left:12.5%;margin-top:-100px; }

#overlay-source a {font-size:0.8em;}
#overlay-source .overlay-content{width:75%;top:50%;left:12.5%;margin-top:-100px; }

#overlay-source-search .overlay-content {padding-top:10px;}
#overlay-source-search .overlay-content{width:100%;top:100px;left:0;}

#overlay-source-search #source-name {
    float: left;
    line-height: 38px;
    text-align: center;
    position: absolute;
    left:40px;
    top:20px;
}

#overlay-source-search #search-form {display:block;position: relative;top:70px; width:100%; margin-bottom:100px;}
#overlay-source-search #search-form .input_text {-webkit-appearance: none; border-radius:0; background-color:#535181; border:none; width:100%; margin-right:70px;left:0; font-size:1em; padding:10px;}
#overlay-source-search #search-form .input_submit {-webkit-appearance: none; border-radius:0;  position:absolute;border:none; width:60px; right:0;font-size:1em; padding:10px; top:0;}
#overlay-source-search .song-container {position:relative;
    border-bottom: 1px solid #343447;
    display:block;
    min-height:80px;}
#overlay-source-search .song-container .small-artwork {left:40px; width:40px; height:40px;}
#overlay-source-search .song-container .song-info {left:100px; width:50%;}

#overlay-source-search .song-container .add-button {
    position: absolute;
    right: 0;
    color: #fff;
    top: 20px;
    width: 38px;
    height: 38px;
    width:60px;
    text-decoration:none;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    text-transform:uppercase;
    font-size:0.8em;
        font-family: "Montserrat Black";
}

/*iPhone 5,5s*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .fa-facebook-container i {
        font-size: 1.5em;
    }

    .fa-facebook{
        top:37.5px;
    }

    #overlay-share .overlay-content{margin-top:-150px;}
    #overlay-source .overlay-content{margin-top:-150px;}
}

/* Landscape */
@media only screen and (orientation: landscape) {

    .home-top{padding-top:5px;margin-top:0; top:60px;}
    .home-logo{ width: 100px;  height: 49px; background-size: 100px 49px; margin:0 auto 10px;min-height: 49px;}

    #overlay-share p {font-size:0.9em;}
    #overlay-share a {font-size:0.8em;}
    #overlay-share .overlay-content{top:100px;width:75%;left:12.5%; }

    #overlay-source p {font-size:0.9em;}
    #overlay-source a {font-size:0.8em;}
    #overlay-source .overlay-content{top:100px;width:75%;left:12.5%; }
}