<html ng-app='djBooth'>
<!-- setting dependencies -->
<script src='../bower_components/angular/angular.js'></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<!-- UI select components -->
<script src="../bower_components/angular-ui-select/dist/select.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css">
<!-- JS components -->
<script type="text/javascript" src="../JS/app.js"></script>
<script type="text/javascript" src="../JS/controllers.js"></script>
<script type="text/javascript" src="../JS/factories.js"></script>
<script type="text/javascript" src="../JS/directives.js"></script>
<link rel='stylesheet' type='text/css' href='../bower_components/bootstrap/dist/css/bootstrap.css'>

<head>
    <meta charset="utf-8" />
    <title>Spotisound</title>
</head>

<body ng-controller='searchController' class=" jumbotron center-block text-center">
    <div class='container-fluid'>
        <h1>#PartyRoom</h1>
        <div ng-controller='playerController'>
            <iframe src="https://embed.spotify.com/?uri=spotify:track:{{uri}}" width="300" height="80" id="widget" frameborder="0" allowtransparency="true" onended="playNext()"></iframe>
        </div>
        <!-- <form name='searchForm' class='form-inline'>
            <input type='text' class='form-control' ng-model='song' placeHolder='Select a song' update-search="getSong(song)">
        </form>
 -->
        <!-- search field -->
        <p>selected: {{result.selected.name}}</p>
        <ui-select ng-model='result.selected'  on-select='selectSong(result.selected)'  theme="bootstrap" ng-disabled="false" reset-search-input="false" uiSelectConfig.appendToBody = true; style="width: 300px;">
            <ui-select-match placeholder="Enter a song...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="result in results |limitTo:10" refresh="getSongs($select.search)" refresh-delay="0">
                <div ng-bind-html="result.name |highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>

        <!-- playlist -->
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h3 class='panel-title'> Playlist</h3>
            </div>
            <ul class='panel body list-unstyled'>
                <!-- 'this is where the playlist is' -->
                <li ng-repeat="song in playList" class="row-fluid inline ">
                    <p>
                        <div>{{song.name}} -{{song.artists[0]}} {{song.votes}}
                            <span  ng-click='upVote()'class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span ng-click='downVote()'class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
