
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JIBE | Dominate the Playlist</title>
        <meta name="description" content="Dominate the playlist">
        <meta name="viewport" content="user-scalable=no,width=device-width" />
        <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
        
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app='Playlist'>
        <div id="overlay-share" class="overlay">
            <a href="#" class="collapse-button" id="share-close">
                <i class="fa fa-minus"></i>
            </a>

            <div class="overlay-content">
                <p class="light">Share the below link with friends to have them join the voting.</p>
                <a href="" class="share_link">jibe.io/metallic-gazelle-081215</a>
                <div class="overlay-button normal dark-button">Copy link to clipboard</div>
            </div>

        </div>

    <div class="navbar">
        <div class="nav-logo"></div>
        <a href="/logout"><div class="nav-toggle"><i class="fa fa-sign-out"></i></div></a>
    </div>
                   
    <div class="current-playlist-container" ng-controller='PlaylistCtrl'>
        <p class="current-playlist-header black">Current Playlist</p>
        <p class="current-playlist-name light">{{ playlistName }}</p>
    </div>

        <div class="link-input">
            <input class="link-url light medium" type="text" class="form-control" value={{playlistLink}}>
        </div>
    <div class="current-playlist-buttons" ng-controller='MyCtrl'>
        <a ng-click='toggleModal()' href="#"><div class="nominate-button normal dark-button">Nominate a Song</div></a>
            <a href="#" class="share-button normal dark-button" id="share-open">Share</a>
       
        
        <modal-dialog show='modalShown' width='100%' height='100%'>
            <!-- START-->
     <div class="search-header">
            <span class="search-header-title thin dark-purple-text">Spotify</span>
        </div>
        <div class="input-group">
            <input id="filter" class="light large" type="text" class="form-control" placeholder="Search now">
            <span class="go-button black medium">Go</span>
        </div>
        <table class="table table-striped" width="100%">
            <tbody class="searchable">
                <tr class="search-result-row">
                    <td width="7%">
                    </td>
                    <td width="20%">
                        <img class="search-result-artwork" src="assets/img/expanded-artwork-img.jpg">
                    </td>
                    
                    <td width="53%">
                        <div class="light large">Haunted</div>
            <div class="light medium">Beyonce</div>
                    </td>
                    
                    <td width="20%" class="add-button-cell"> <div class="add-button black medium">Add</div> </td>
                </tr>
                
                
                <tr class="search-result-row">
                    <td width="7%">
                    </td>
                    <td width="20%">
                        <img class="search-result-artwork" src="assets/img/expanded-artwork-img.jpg">
                    </td>
                    
                    <td width="53%">
                        <div class="light large">Hang With Me</div>
            <div class="light medium">Robyn</div>
                    </td>
                    
                    <td width="20%" class="add-button-cell"> <div class="add-button black medium">Add</div> </td>
                </tr>
            </tbody>
        </table>
            <!---END---->
    </modal-dialog>
    </div>
        
            
        
    <div class="now-playing-header"> 
        <span class="now-playing-title black">Now Playing</span>
    </div>

    <div class="now-playing-container" ng-controller='PlaylistCtrl'>
        <img class="now-playing-img" src="{{currentSong.artwork}}">
        <div class="now-playing-info">
            <div class="now-playing-song light">{{currentSong.name}}</div>
            <div class="now-playing-artist light">{{currentSong.artist}}</div>
        </div>
        
        <div class="final-vote-header black"> Final Vote Count </div>
        
        <div class="gradient">
            <span class="downvotes">
                <i class="fa fa-chevron-down"></i>
                <span class="downvotes-count light"> {{currentSong.downvotes}}</span>
            </span>
            <span class="upvotes">
                <i class="fa fa-chevron-up"></i>
                <span class="upvotes-count light"> {{currentSong.upvotes}}</span>
            </span>
        </div>
    </div>
        
    <div class="next-up-header black clearfix">
        <span>Next Up</span>
    </div>
        <div ng-controller="PlaylistCtrl">
            <div ng-repeat="(i, song) in queue">
                
                <div class="song-collapsed-container clearfix" collapse="song.isCollapsed">
                    <a href="#" class="expand-button" ng-click="song.isCollapsed = !song.isCollapsed">
                        <i class="fa fa-plus"></i>
                    </a>
                    <img class="small-artwork" src="{{song.artwork}}">
                    <div class="song-info">
                        <div class="song-name light medium">{{song.name}}</div>
                        <div class="artist-name light small">{{song.artist}}</div>
                    </div>
                    <a class="upvote-button" ng-click="song.upvotes = song.upvotes+1">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="downvote-button" ng-click="song.downvotes = song.downvotes+1">
                        <i class="fa fa-chevron-down "></i>
                    </a>
                </div>
            
    
                <div class="song-expanded-container clearfix" collapse="song.isCollapsed" ng-show="!song.isCollapsed">
                    <a href="#" class="collapse-button" ng-click="song.isCollapsed = !song.isCollapsed">
                        <i class="fa fa-minus"></i>
                    </a>
                    <img class="large-artwork" src="{{song.artwork}}">
                    <div class="song-name-expanded light large">{{song.name}}</div>
                    <div class="artist-name-expanded light medium">{{song.artist}}</div>

                    <div class="nominated-by-header"> 
                        <span class="nominated-by-title black small">
                            Nominated By
                             <div class="nominated-by-name light">{{song.nominatedBy}}</div>
                        </span>
                    </div>


                    <div class="up-down-buttons clearfix">
                        <div class="down-button-container clearfix">
                            <span class="downvote-count light">{{song.downvotes}}</span>
                            <a class="downvote-button-expanded" ng-click="song.downvotes = song.downvotes+1">
                                <i class="fa fa-chevron-down "></i>
                            </a>
                        </div>

                        <div class="up-button-container">
                           <a class="upvote-button-expanded" ng-click="song.upvotes = song.upvotes+1">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <span class="upvote-count light">{{song.upvotes}}</span>
                        </div>
                    </div>

                    <div class="whos-voting-by-header"> 
                        <span class="nominated-by-title black small">Who's Voting</span>
                    </div>
                    
                    <div class="yay-nay-voters clearfix">
                        <div class="nay-voters">
                            <img class="nay-voter-circle" ng-repeat="voter in song.downvoters" src="{{voter.photo}}">           
                        </div>
                    
                        <div class="yay-voters">
                                <img ng-repeat="voter in song.upvoters"class="yay-voter-circle" src="{{voter.photo}}">   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>