<!-- <div class="navbar">
  <div class="nav-logo"></div>
  <a href="#/home"><div class="nav-toggle"><i class="fa fa-sign-out"></i></div></a>
</div> -->

<div id="overlay-source-search" class="overlay" ng-controller="EnqueueController">
  <a href="" id='search-close' class="collapse-button" ng-click="$back()">
    <i class="fa fa-minus"></i>
  </a>

  <div id="source-name">Search YouTube</div>

  <div id="search-form" ng-controller="EnqueueController">
    <input type="text" class="input_text normal enqueue-input" placeholder="Search Now" ng-model='searchInput' ng-change="getSongs(searchInput)">
    <input type="submit" class="input_submit dark-button black" value="GO" ng-click="getSongs(searchInput)">
  </div>

  <div class="overlay-content" ng-controller="EnqueueController">
    <div class="song-container" ng-repeat="result in results | limitTo: 20" refresh-delay="0">
      <img class="small-artwork" src="http://i1.ytimg.com/vi/{{result.uri}}/1.jpg ">
      <div class="song-info">
        <div class="song-name light medium">{{result.title}}</div>
      </div>
      <a href="" class="add-button dark-button black">Add</a>
    </div>
  </div>
</div>
