<div class="navbar">
  <div class="nav-logo"></div>
  <a href="#/home"><div class="nav-toggle"><i class="fa fa-sign-out"></i></div></a>
</div>

<div ng-controller="HostController">

    <div class="button-container-host">
        <div class="start-button light-button button no-padding">
          <form name="name-party" ng-submit="nameParty(party.name)">
            <input class="light-input normal" 
                   placeholder="ENTER PARTY NAME" 
                   ng-model="party.name" 
                   name="party-name"
                   ng-maxlength="25"
                   maxlength="25"
                   ng-disabled="party.isDisabled || disabled"
                   ng-style="ng-disabled && {'background-color': '#8A9676'}"></input>
          </form>
        </div>

      <a href="#/enqueue">
        <div class="start-button dark-button button">
          <span class="bold">ADD</span><span class="normal"> SONGS TO QUEUE</span>
        </div>
      </a>

      <a href="#/party" ng-click="startParty(party-name)">
        <div class="start-button dark-button button" ng-click="startParty()">
          <span class="bold">START</span><span class="normal"> THE PARTY</span>
        </div>
      </a>
    </div>
</div>

